footer.footer-main.center
  .container
    .footer-nav
      a(href='/privacy') Privacy Policy
      a(href='/terms') Terms of Service
      a(href='//twitter.com/nodesecurity') Twitter
      a(href='//github.com/nodesecurity') GitHub
    p.mb0 Organized by <a href='http://liftsecurity.io'>^Lift Security</a> Sponsored by <a href='http://andyet.com'>&amp;yet</a> Powered by The Node.js Community<a href='></a>

script(type='text/javascript').
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-103128-11']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
