header.header-has-logo(role='banner')
  .container.cf

    h1.pull-left: a.logo.nodesecurity-logo.transition.transition-fadeout(href='/') Node Security Project

    nav.pull-right.top-nav.top-nav-light(role='navigation')

      input.menu-toggle(id='menu-toggle', type='checkbox') 
      label.pull-right(for='menu-toggle') Menu

      ul.list-unstyled.list-inline.no-margin-bottom.cf
        li: a(href='/advisories') Advisories
        li: a(href='/tools') Tools
        li: a(href='/resources') Resources
        li: a(href='/research') Research
        li: a(href='http://blog.nodesecurity.io') Blog