extends layout

block content
  .container.contribute(role='main')

    section.center.mt2
      .content-narrower.mb0

        h2 Contribute
        p When you contribute to the Node Security Project you contribute to the entire Node community.
        p.mb0 You can start by helping on your own projects.

    section
      .content-narrower
        h3 SECURITY.md
        p One reason 0day vulnerabilities get released without fixes being available is because of ineffective communication.
        p A SECURITY.md file communicates with the users of your project how you like to have security issues reported to you and set expectations about timelines for fixes and communication with the finder.

        h3 Self Disclosure
        p When you fix a security issue within one of your modules it's important to self disclose this issue to the Node Security Project. That way we can issue an advisory and disseminate that information via a communication channels and tools ensuring that your users update as soon as possible.

        h3 Write for other developers
        p Whenever you encounter a security challenge that you have to solve within your application you should write a blog post, especially if you weren't able to find a good article.