extends layout

block content
  .container.report(role='main')

    section.mt2.center
      h2 Something went wrong
      p Please send us an email at <a href='mailto:contact@liftsecurity.io'>contact@liftsecurity.io</a>.