extends layout

block content

  div.hero.mb2
    .container.center
      h2 Security is a core value of the Node community

  .container.home(role='main')

    section.center
      h2 Contribute
      p.content-narrower Security in Node is a top priority if we all help make it that way. Learn more about how you can <a href='/contribute'>contribute</a>.
      p.content-narrower If you find a vulnerability, please make it known.
      a.button.button-outlined(href='/report') Report a vulnerability

    section.grid-flex-container.center
      .grid-flex-cell
        h3 Tools
        p.mb0 Tools keep known vulnerabilities from creeping into your projects. 
          a(href='/tools') Get started.
      .grid-flex-cell
        h3 Resources
        p.mb0 Talks, blog posts, and articles about and related to Node security. 
          a(href='') View resources.

    section.center
      a.logo.logo-requiresafe(href='//requiresafe.com') RequireSafe
      p.content-narrower What if security pros could audit your Node modules and alert you to vulnerabilities? That's <a href='//requiresafe.com'>RequireSafe</a>, brought to you by <a href='//liftsecurity.io/'>^Lift Security</a>.

    section.center
      p.content-narrower The Node Security Project could not be possible without the gracious support from these companies.
      .sponsors.mb2.mt2
        a.logo.logo-lift(href='//liftsecurity.io') Lift Security
        a.logo.logo-andyet(href='//andyet.com') &yet
      p Become a sponsor of the Node Security Project. <a href='mailto:contact@liftsecurity.io'>Contact us</a>.