block vars
  - var title = 'Node Security Newsletter'

extends layout

block content
  .container.newsletter(role='main')

    section.mt2
      h2.center Node Security Newsletter

      .content-narrower

        p.center There really hasn’t been a great source for all things node security news, and we want to change that. Sign up to get the Node Security Newsletter, dispatched every two weeks.

          form.left(action='https://andyet.createsend.com/t/r/s/tisllh/' method='post' id='subForm')
            fieldset
              div.form-element
                label(for='fieldName') Name
                input.form-input(id='fieldName' name='cm-name' type='text')
              div.form-element
              label(for='fieldEmail') Email
              input.form-input(id='fieldEmail' name='cm-tisllh-tisllh' type='email' required)
              div.form-element.form-submit
              button.button.button-outlined(type='submit') Subscribe

    section.center

      h3.mt2 Catch up on past newsletters

      .grid-flex-container

        .grid-flex-cell
          a(href='http://createsend.com/t/r-A4EFEE3EDFB95A032540EF23F30FEDED', target='_blank')
            img.avatar.avatar-rounded.avatar-outlined.transition(src='/img/newsletter/05-finding-vulernabilities.jpg', width='150')
          h5.mb0: a(href='http://createsend.com/t/r-A4EFEE3EDFB95A032540EF23F30FEDED', target='_blank') Identifying Vulnerabilities
          p #5 - Jul 16, 2015

        .grid-flex-cell
          a(href='http://createsend.com/t/r-A544CB9AE48A26EF2540EF23F30FEDED', target='_blank')
            img.avatar.avatar-rounded.avatar-outlined.transition(src='/img/newsletter/04-encryption.jpg', width='150')
          h5.mb0: a(href='http://createsend.com/t/r-A544CB9AE48A26EF2540EF23F30FEDED', target='_blank') Encryption
          p #4 - Jul 1, 2015

        .grid-flex-cell
          a(href='http://createsend.com/t/r-753302107B36D30C2540EF23F30FEDED', target='_blank')
            img.avatar.avatar-rounded.avatar-outlined.transition(src='/img/newsletter/03-authentication.jpg', width='150')
          h5.mb0: a(href='http://createsend.com/t/r-753302107B36D30C2540EF23F30FEDED', target='_blank') Authentication
          p #3 - Jun 18, 2015

      .grid-flex-container

        .grid-flex-cell
          a(href='http://createsend.com/t/r-85D5C0C5BC959AB62540EF23F30FEDED', target='_blank')
            img.avatar.avatar-rounded.avatar-outlined.transition(src='/img/newsletter/02-security-theater.jpg', width='150')
          h5.mb0: a(href='http://createsend.com/t/r-85D5C0C5BC959AB62540EF23F30FEDED', target='_blank') Security Theater
          p #2 - Jun 3, 2015

        .grid-flex-cell
          a(href='http://createsend.com/t/r-7E7BD46B1A00014F2540EF23F30FEDED', target='_blank')
            img.avatar.avatar-rounded.avatar-outlined.transition(src='/img/newsletter/01-choosing-a-security-professional.jpg', width='150')
          h5.mb0: a(href='http://createsend.com/t/r-7E7BD46B1A00014F2540EF23F30FEDED', target='_blank') Security and News
          p #1 - May 20, 2015

        .grid-flex-cell