extends layout

block content
  .container.terms(role='main')

    section.mt2
      .content-narrower.mb0

        h2.center Terms
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum libero risus, vel rhoncus ligula cursus a. Donec malesuada lobortis sem, ac facilisis neque laoreet eu. Morbi quis venenatis ex. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        p Vivamus congue, ante id auctor feugiat, urna nisi consectetur turpis, in pharetra arcu massa at erat. Aliquam urna libero, rhoncus bibendum sagittis eget, accumsan sit amet sem. Cras in vehicula orci, et facilisis lectus. Cras sollicitudin tristique ipsum eget euismod.
        p Vestibulum quis ante et ligula finibus cursus. Cras sit amet auctor lectus. Nullam nec erat vel lacus fringilla malesuada at at quam.
        p Phasellus a justo vel nisi posuere ultrices quis malesuada mauris. Donec pellentesque, urna in aliquet ultricies, libero libero sollicitudin eros, eu malesuada urna ex vel nunc. Etiam malesuada eget magna id iaculis.

        h3.center Something
        p Vestibulum quis ante et ligula finibus cursus. Cras sit amet auctor lectus. Nullam nec erat vel lacus fringilla malesuada at at quam.
        p Phasellus a justo vel nisi posuere ultrices quis malesuada mauris. Donec pellentesque, urna in aliquet ultricies, libero libero sollicitudin eros, eu malesuada urna ex vel nunc. Etiam malesuada eget magna id iaculis.