block vars
  - var title = 'Tools'

extends layout

block content
  .container.tools(role='main')

    section.center.mt2
      .content-narrower.mb0
        h2 Tools
        p.mb0 Here are some tools you can use to keep known vulnerabilities from creeping into your projects

    .content-narrower
      section
        h3 nsp
        p nsp is the main command line interface to the Node Security Project. It allows for auditing a package.json or npm-shrinkwrap.json file against the API.
        h4 Installation
        pre
          code npm i nsp -g
        h4 Example Usage
        p From inside your project directory you can audit your package.json file
        pre
          code nsp package

      section
        h3 grunt-nsp-shrinkwrap

      section
        h3 grunt-nsp-package
        p Grunt task that audits your package.json file against the nodesecurity.io API for validation that dependencies or dependencies of dependencies are not vulnerable to known vulnerabilities.
        h4 Installation
        pre
          code npm install grunt-nsp-package --save-dev
        p Add this line to your project's grunt.js gruntfile:
        pre
          code grunt.loadNpmTasks('grunt-nsp-package');
        p Then use the task <code>validate-package</code> build tasks eg.
        pre
          code grunt.registerTask('default', 'validate-package')
        h4 Example Usage
        pre
          code
            | $ grunt validate-package
            | Running 'validate-package' task
            | /example/project/package.json
            | No vulnerable modules found<br />
            | Done, without errors.
        pre
          code
            | $ grunt validate-package
            | Running 'validate-package' task
            | /example/project/package.json
            | >> Name     Installed        Patched       Vulnerable Dependency  Advisory URL
            | >> send       0.0.4         >= 0.8.4       express                See website
            | >> qs         0.5.1          >= 1.x        express > connect      See website
            | Warning: known vulnerable modules found Use --force to continue.<br />
            | Aborted due to warnings.
