header.container.row
  .span6(role="title")
    a(href='/')
      img.title-image(src="/img/nodesecurity.png")
    h1.title Node Security Project
    span.subtitle We need a tagline contributor™

  .span4.search.pull-right
    .social.pull-right
      a(href='https://twitter.com/nodesecurity'): img(src='/img/webicon-twitter.png')

.menu.navbar.container
  .container

    .nav-collapse.collapse(role="navigation")
      ul.nav
        li: a(href='/advisories') View Advisories
        li: a(href='mailto:contact@liftsecurity.io?subject=NodeSecurity Vuln Report') Report Vulnerability
        li: a(href='/resources') Resources
        li

