/*--------------------------------------------------------------------
*
* $HOME PAGE
*
--------------------------------------------------------------------*/


.hero
  background: url(/img/header-bg.svg) repeat-x 50% 50%
  background-size: auto 101%

  .container
    height: 380px
    position: relative

  h2
    width: 100%
    padding: 0 20px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: $font-h1
    color: white
    text-shadow: 0 0 7px rgba(31,71,83,.2)

.home

  .logo-requiresafe
    width: 100%
    max-width: 300px
    height: 40px
    margin-bottom: $space

.sponsors

  .logo
    width: 150px
    
    &.logo-andyet
      height: 50px
    &.logo-lift
      height: 40px