/*--------------------------------------------------------------------
*
* $BASE
*
--------------------------------------------------------------------*/

pre
  background: $blue-lighter

.footnote
  margin-top: -5px
  margin-bottom: 20px
  display: block
  font-size: $font-small
  font-style: italic