/*--------------------------------------------------------------------
*
* $BASE
*
--------------------------------------------------------------------*/

pre
  background: $blue-lighter

.footnote
  margin-top: -5px
  margin-bottom: 20px
  display: block
  font-size: $font-small
  font-style: italic

p.mb0 + ul
  margin-top: 10px

@media screen and (max-width: $breakpoint-tablet)

  .container
    section:first-of-type
      margin-top: 0