/*--------------------------------------------------------------------
*
* $FOOTER
*
--------------------------------------------------------------------*/

.footer-main
  margin-top: $space*3
  padding: $space
  background: #f7f7f7
  font-size: $mobile-font-h6

  .footer-nav
    margin-bottom: $space

    a
      margin: 5px 10px